@import "variables.css";

/* BODY */
body.dark{
    background-color: var(--neutral-900);
}

/* BOTON */
.btn__mode.dark{
    background-color: var(--neutral-700);
}

/* TITLE */
.title.dark{
    color: var(--neutral-100);
}
