@import "variables.css";

html {
    box-sizing: border-box;
    font-size: 62.5%;
    /* 1rem = 10px */
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

/*? UTILIDADES */

h1,
h2,
h3 {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

.main-container{
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

@media(min-width: 1440px){
    .main-container{
        gap: 5rem;
    }
}
